<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>{{book.title}} Info</h1>
        <ul>
            <li>title: <strong>{{book.title}}</strong></li>
            <li>author: <strong>{{book.author}}</strong></li>
            <li>author: <strong>{{book.pages}}</strong></li>
            <li>author: <strong>{{book.price}}</strong></li>

        </ul>
    </div>
</body>
</html>