<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        body{
            background-color: aqua;
            color:black
        }
        span{
            color:red
        }
    </style>
</head>
<body>
    <h1>hello friend<span>{{wish}}</span></h1>
    <h2>Time is:<span>{{time}}</span></h2>
    <h1>Astrology for Mukesh:<span>{{msg}}</span></h1>
    <h1>Soon going to marry:<span>{{name}}</span></h1>
</body>
</html>