<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Info</title>
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">

</head>
<body>
    <h1>{{head_msg}}</h1>
    <ul>
        <li>{{sub_msg1}}</li>
        <li>{{sub_msg2}}</li>
        <li>{{sub_msg3}}</li>
    </ul>

    {% if type == 'movies'%}
    <img src="{% static 'images/img1.avif' %}" alt="">
    <img src="{% static 'images/img2.jpg' %}" alt="">
    <img src="{% static 'images/img3.webp' %}" alt="">

    {% elif type == 'sports' %}
    <img src="{% static 'images/img4.jpeg' %}" alt="">
    <img src="{% static 'images/img5.jpeg'%}" alt="">
    <img src="{% static 'images/img6.jpeg' %}" alt="">

    {% elif type == 'politics'%}
    <img src="{% static 'images/img7.webp' %}" alt="">
    <img src="{% static 'images/img8.jpeg' %}" alt="">
    <img src="{% static 'images/img9.jpeg' %}" alt="">

    {% endif %}

</body>
</html>