<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Movies</title>
    <link rel="stylesheeet" href="{% static 'css/movie.css' %}"

</head>
<body>
    {% if movies_list %}
    <h1>Movies List</h1>
    <table border="3">
        <thead>
            <th>Rdate</th>
            <th>Movie name</th>
            <th>Hero</th>
            <th>Heroine</th>
            <th>Rating</th>
        </thead>
        {% for movie in movies_list %}
        <tr>
            <td>{{movie.rdate}}</td>
            <td>{{movie.moviename}}</td>
            <td>{{movie.hero}}</td>
            <td>{{movie.heroine}}</td>
            <td>{{movie.rating}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>No Movies are available</h1>
    {% endif %}
</body>
</html>